.themeBase {
  color: #C5C2BF !important;
  background-color: #0E0E0E !important;
}

.modal {
  background-color: #386A74 !important;
  color: #FDF894 !important;
}

.useicons {
  color: #FDF894 !important;
}