.themeBase {
  color: #C51900 !important;
  background-color: #330200 !important;
}

.modal {
  background-color: #FFFFFF !important;
  color: #FDBB03 !important;
}

.useicons {
  color: #FDBB03 !important;
}